{
  "sta":{
    "ssid":"",
    "pwd":"",
    "save":false,
    "auto":false
  },
  "mqtt":{
    "host":"",
    "port":"",
    "baseChannel":""
  },
  "connectors":[
    {"name":"sw1", "type": "switch"},
    {"name":"sw2", "type": "switch"},
    {"name":"ir1", "type": "ir"}
  ]
}
