{
  "sta":{
    "ssid":"",
    "pwd":"",
    "save":false,
    "auto":false
  },
  "mqtt":{
    "host":"",
    "port":"",
    "username":"",
    "password":"",
    "nodeChannel":"/node/",
    "serverChannel":"/jarvis/"
  },
  "pins":[
    {"number":"4", "type": "switch", "mode": "output"}
  ]
}
